<Connectivity>
  ConnectionType {{ connection_type }}
</Connectivity>

<Account Information>
  Username {{ user_name }}
  Password {{ user_password }}
</Account Information>

<System Information>
  DistributionType {{ ansible_os_family }}
</System Information>
